<router-outlet></router-outlet>

<hr class="border-t border-zinc-300 dark:border-zinc-800 my-4" />

<footer
  class="max-w-[1000px] mx-auto w-[90%] flex flex-col justify-between lg:flex-row items-center dark:text-white p-3"
>
  <div>
    <p>© 2025 Kurt Cagulang</p>
  </div>
  <div>
    <p>
      Design inspired by
      <a
        href="https://www.johnmaizodev.ph/"
        class="underline"
        target="_blank"
        rel="noopener noreferrer"
        >johnmaizodev.ph</a
      >
    </p>
  </div>
</footer>
